body {
  margin: 0; }

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 48px calc(100vh - 72px) 24px; }

header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: span 12;
  grid-row: span 1;
  background-color: red; }

.logo {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: span 9;
  grid-row: span 1; }

.logo h1 {
  font-family: 'Skranji', cursive;
  margin: auto;
  color: white; }

.logo a {
  color: white; }

.console-link {
  display: none; }

.games-link {
  display: none; }

@media screen and (min-device-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(14, 1fr);
    height: 100vh;
    width: 100vw; }

  header {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column: span 20;
    grid-row: span 2;
    background-color: red; }

  .logo {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column: span 5;
    grid-row: span 2; }

  .logo h1 {
    grid-column: span 8;
    grid-row: span 2;
    margin: auto 0 auto 0;
    font-size: 60px; }

  .logo a {
    font-size: auto; }

  .games-link {
    display: block;
    grid-column: span 4;
    grid-row: span 2;
    text-align: center; }

  .games-link h1 {
    margin: auto;
    padding: 20px 0 0 0;
    font-size: 40px;
    text-align: center;
    vertical-align: middle; }

  .games-link a {
    color: white; }

  .console-link {
    display: block;
    grid-column: span 4;
    grid-row: span 2;
    text-align: center; }

  .console-link h1 {
    margin: auto;
    padding: 20px 0 0 0;
    font-size: 40px;
    text-align: center;
    vertical-align: middle; }

  .console-link a {
    color: white; }

  header i.material-icons {
    display: none; } }
header i.material-icons {
  font-size: 3em;
  color: black; }

.menu {
  display: grid;
  grid-column: span 1;
  grid-row: span 1; }

.menu_phone i.material-icons {
  font-size: 3em;
  color: black;
  background: red;
  margin: 0 0 0 0;
  grid-column: span 1; }

.menu_phone {
  width: auto;
  z-index: 100;
  height: 100vh;
  position: absolute;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 48px 48px 48px;
  transform: translateX(-100%);
  transition: transform 1s;
  margin: 0 0 0 0; }

.botside {
  background-color: gray;
  margin: 0;
  height: 136px;
  padding: 20px 0 0 0; }

.button-console {
  margin: 0 20px 20px 20px;
  height: 48px;
  background-color: red;
  border-radius: 24px; }

.button-console h1 {
  padding: 10px;
  margin: 0 0 0 0;
  font-size: auto; }

.button-console a {
  color: white; }

.button-games {
  margin: 0 20px 20px 20px;
  height: 48px;
  background-color: red;
  border-radius: 24px; }

.button-games h1 {
  padding: 10px;
  margin: 0;
  font-size: auto; }

.button-games a {
  color: white; }

.topside {
  grid-row: span 1;
  grid-column: span 16;
  grid-template-columns: 48px auto;
  grid-template-rows: repeat(1, 1fr);
  height: 48px;
  background-color: rgba(0, 0, 0, 0);
  display: flex; }

.logo-menu h1 {
  grid-row: span 1;
  font-family: 'Skranji', cursive;
  margin: auto;
  color: white;
  font-size: auto; }

.logo-menu a {
  color: white; }

.show {
  transform: translateX(0); }

@media screen and (min-device-width: 400px) {
  .menu {
    display: none; } }
main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12;
  overflow: scroll;
  height: calc(100vh - 72px); }

.whitespace1 {
  display: none; }

.main-wrapper-index {
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12; }

.nyhet1 {
  display: grid;
  grid-column: span 12;
  height: 270px;
  width: 270px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 20px auto 10px auto;
  background-image: url("../img/Doomswitch.png");
  background-size: contain; }

.info_bar1 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-column: span 3;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 90px;
  background-color: darkgrey; }

.info_bar1 h2 {
  grid-row: span 1;
  margin: 0;
  font-size: auto;
  color: red; }

.info_bar1 p {
  grid-row: span 2;
  margin: 0; }

.wrapper-nyhet {
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12; }

.nyhet2 {
  display: grid;
  grid-column: span 12;
  height: 270px;
  width: 270px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 10px auto auto auto;
  background-image: url("../img/Luigi Odyssey.jpg");
  background-size: contain; }

.info_bar2 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-column: span 3;
  grid-row-start: 3;
  grid-row-end: 4;
  height: 90px;
  background-color: darkgrey; }

.info_bar2 h2 {
  grid-row: span 1;
  margin: 0;
  font-size: auto;
  color: red; }

.info_bar2 p {
  grid-row: span 2;
  margin: 0; }

.nyhet3 {
  display: none; }

.fillingunder {
  grid-column: span 12;
  height: 20px; }

@media screen and (min-device-width: 400px) {
  main {
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column: span 20;
    grid-row: span 11;
    height: calc(100vh - 118.8px); }

  .whitespace1 {
    display: block;
    grid-column: span 3;
    grid-row: span 11; }

  .main-wrapper-index {
    display: grid;
    grid-column: span 14;
    grid-row: span 11;
    grid-template-columns: auto auto; }

  .nyhet1 {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 20px;
    height: 452.68px;
    width: 679px;
    grid-column: span 1;
    background-image: url("../img/Doomswitch.png");
    background-size: cover; }

  .info_bar1 {
    background-color: transparent;
    margin: auto 0 0 0; }

  .wrapper-nyhet {
    display: inline-block;
    grid-column: span 1;
    height: 452.68px;
    width: 324.51px;
    margin-top: 20px;
    grid-template-columns: repeat(1, 1fr); }

  .nyhet2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 216.34px;
    width: 324.51px;
    margin: 0 auto auto auto;
    background-image: url("../img/Luigi Odyssey.jpg");
    background-size: cover; }

  .info_bar2 {
    background-color: transparent;
    grid-row-start: 3;
    grid-row-end: 4; }

  .nyhet3 {
    display: block;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(14, 1fr);
    height: 216.34px;
    width: 324.51px;
    background-color: darkred; } }
footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: span 12;
  grid-row: span 2;
  background-color: darkslategrey; }

footer p {
  grid-column: span 12;
  grid-row: span 2;
  margin: auto auto;
  font-size: auto; }

@media screen and (min-device-width: 400px) {
  footer {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column: span 20;
    grid-row: span 1;
    background-color: darkslategrey; }

  footer p {
    grid-column: span 20;
    height: 39.6px; } }
.nav-games {
  height: 24px;
  grid-column: span 12;
  background-color: gray; }

.nav-games p {
  margin: 0; }

.main-wrapper-games {
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12; }

.mario {
  display: grid;
  height: 80px;
  grid-column: span 12;
  width: 270px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: grey;
  margin: 20px auto 0 auto; }

.image-mario {
  display: grid;
  grid-column: span 3;
  grid-row: span 3;
  width: auto;
  background-image: url("../img/Mario.png");
  background-size: cover; }

.mario h1 {
  display: grid;
  grid-column: span 5;
  grid-row: span 1;
  font-size: auto;
  margin: 0; }

.mario p {
  display: grid;
  grid-column: span 5;
  grid-row: span 2;
  margin: 0; }

.pointermario {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 3;
  width: auto;
  height: auto;
  background: url("../img/css_sprites.png") -10px -10px; }

.zelda {
  display: grid;
  height: 80px;
  grid-column: span 12;
  width: 270px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: grey;
  margin: 20px auto 0 auto; }

.image-zelda {
  display: grid;
  grid-column: span 3;
  grid-row: span 3;
  width: auto;
  background-image: url("../img/zelda.png");
  background-size: cover; }

.zelda h1 {
  display: grid;
  grid-column: span 5;
  grid-row: span 1;
  font-size: auto;
  margin: 0; }

.zelda p {
  display: grid;
  grid-column: span 5;
  grid-row: span 2;
  margin: 0; }

.pointerzelda {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 3;
  width: auto;
  height: auto;
  background: url("../img/css_sprites.png") -10px -10px; }

.kirby {
  display: grid;
  height: 80px;
  grid-column: span 12;
  width: 270px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: grey;
  margin: 20px auto 0 auto; }

.image-kirby {
  display: grid;
  grid-column: span 3;
  grid-row: span 3;
  width: auto;
  background-image: url("../img/kirbyresize.png");
  background-size: cover; }

.kirby h1 {
  display: grid;
  grid-column: span 5;
  grid-row: span 1;
  font-size: auto;
  margin: 0; }

.kirby p {
  display: grid;
  grid-column: span 5;
  grid-row: span 2;
  margin: 0; }

.pointerkirby {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 3;
  width: auto;
  height: auto;
  background: url("../img/css_sprites.png") -10px -10px; }

.metroid {
  display: grid;
  height: 80px;
  grid-column: span 12;
  width: 270px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: grey;
  margin: 20px auto 0 auto; }

.image-metroid {
  display: grid;
  grid-column: span 3;
  grid-row: span 3;
  width: auto;
  background-image: url("../img/metroid.png");
  background-size: cover; }

.metroid h1 {
  display: grid;
  grid-column: span 5;
  grid-row: span 1;
  font-size: auto;
  margin: 0; }

.metroid p {
  display: grid;
  grid-column: span 5;
  grid-row: span 2;
  margin: 0; }

.pointermetroid {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 3;
  width: auto;
  height: auto;
  background: url("../img/css_sprites.png") -10px -10px; }

.filler-main-game {
  display: grid;
  height: 20px;
  grid-column: span 12; }

@media screen and (min-device-width: 400px) {
  .nav-games {
    height: 24px;
    grid-column: span 20;
    background-color: gray; }

  .main-wrapper-games {
    display: grid;
    grid-column: span 14;
    grid-row: span 11;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(11, 1fr); }

  .mario {
    display: grid;
    height: auto;
    width: auto;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 7;
    grid-row-end: 6;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: grey;
    margin: 0; }

  .zelda {
    display: grid;
    height: auto;
    width: auto;
    grid-column-start: 9;
    grid-row-start: 2;
    grid-column-end: 15;
    grid-row-end: 6;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: grey;
    margin: 0; }

  .kirby {
    display: grid;
    height: auto;
    width: auto;
    grid-column-start: 1;
    grid-row-start: 7;
    grid-column-end: 7;
    grid-row-end: 11;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: grey;
    margin: 0; }

  .metroid {
    display: grid;
    height: auto;
    width: auto;
    grid-column-start: 9;
    grid-row-start: 7;
    grid-column-end: 15;
    grid-row-end: 11;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: grey;
    margin: 0; } }
* {
  box-sizing: border-box; }

.slideshow-container {
  width: 84.3vw;
  grid-column: span 12;
  position: relative;
  margin: 20px auto 10px auto; }

.mySlides {
  display: none; }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

.dots {
  grid-column: span 12; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
.faktatext {
  grid-column: span 12;
  text-align: center; }

@media screen and (min-device-width: 400px) {
  .slideshow-container {
    width: 27vw;
    grid-column-start: 4;
    grid-column-end: 10;
    position: relative;
    margin: 20px auto 10px auto; }

  .dots {
    grid-column: span 20; }

  .faktatext {
    grid-column-start: 10;
    grid-column-end: 16;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: span 20; } }
