<div class="slideshow-container">
  <div class="mySlides fade">
    <div class="numbertext">Gen 1 / 7</div>
    <img src="../img/NES1.png" style="width:100%">
    <div class="text">Nes</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">Gen 2 / 7</div>
    <img src="../img/SNES1.png" style="width:100%">
    <div class="text">Snes</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">Gen 3 / 7</div>
    <img src="../img/N641.png" style="width:100%">
    <div class="text">N64</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">Gen 4 / 7</div>
    <img src="../img/GameCube1.png" style="width:100%">
    <div class="text">GameCube</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">Gen 5 / 7</div>
    <img src="../img/Wii1.png" style="width:100%">
    <div class="text">Wii</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">Gen 6 / 7</div>
    <img src="../img/Wii_U1.png" style="width:100%">
    <div class="text">Wii U</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">Gen 7 / 7</div>
    <img src="../img/switch1.png" style="width:100%">
    <div class="text">Switch</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>
<div class="dots">
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span> 
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
</div>
</div>
<div class="faktatext">
    <p>Fakta om konsolerna</p>
</div>