<div class="nav-games">
    <p> Games </p>
</div>
<div class="mario">
    <div class="image-mario"></div>
    <h1>Mario</h1>
    <p>Info</p>
</div>
<div class="zelda">
    <div class="image-zelda"></div>
    <h1>zelda</h1>
    <p>Info</p>
</div>
<div class="kirby">
    <div class="image-kirby"></div>
    <h1>Kirby</h1>
    <p>Info</p>
</div>
<div class="metroid">
    <div class="image-metroid"></div>
    <h1>Metroid</h1>
    <p>Info</p>
</div>
<div class="filler-main-game"></div>