<div class="whitespace1"></div>
<div class="main-wrapper-index">
    <div class="nyhet1">
        <div class="info_bar1">
            <h2>Doom ute för switch</h2>
            <p>text</p>
        </div>
    </div>
    <dic class="wrapper-nyhet">
        <div class="nyhet2">
            <div class="info_bar2">
                <h2>Luigi in odyssey</h2>
                <p>text</p>
            </div>
        </div>
        <div class="nyhet3">
            <div class="info_bar3">
                <h2>Space for other news</h2>
                <p>text</p>
            </div>
        </div>
    </div>
    <div class="fillingunder"></div>