* {box-sizing:border-box}

.slideshow-container {
  width: 84.3vw;
  grid-column: span 12;
  position: relative;
  margin: 20px auto 10px auto;
}

.mySlides {
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.dots {
    grid-column: span 12;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.faktatext {
    grid-column: span 12;
    text-align: center;
}

@media screen and (min-device-width: 400px){
    .slideshow-container {
        width: 27vw;
        grid-column-start: 4;
        grid-column-end: 10;
        position: relative;
        margin: 20px auto 10px auto;
      }      
      .dots {
        grid-column: span 20;
    }
    .faktatext {
        grid-column-start: 10;
        grid-column-end: 16; 
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column: span 20;
    }
}