body {
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 48px calc(100vh - 72px) 24px;
}

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column: span 12;
    grid-row: span 1;
    background-color: red;
}

.console-link {
    display: none;
}

.games-link {
    display: none;
}

@media screen and (min-device-width: 400px){
    .container {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(14, 1fr);
        height: 100vh
    }

    header {
        display: grid;
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column: span 20;
        grid-row: span 2;
        background-color: red;
    }
    .logo {
        display: grid;
        grid-column: span 8;
        grid-row: span 2;
    }
    .games-link {
        display: block;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column: span 6;
        grid-row: span 2;
    }
    .games-link p{
        display: grid;
        grid-column: span 6;
        grid-row: span 2;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 0 0 0;
        font-size: auto;
    }
    .console-link {
        display: block;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column: span 6;
        grid-row: span 2;
    }
    .console-link p{
        display: grid;
        grid-column: span 6;
        grid-row: span 2;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 0 0 0;
        font-size: auto;
    }
    header i.material-icons{
        display: none;
    }
}