header i.material-icons{
    font-size: 3em;
    color: black;
}

.menu {
    display: grid;
    grid-column: span 1;
    grid-row: span 1;
}

.menu_phone i.material-icons{    
    font-size: 3em;
    color: black;
    background: red;
    margin: 0 0 0 0;
    grid-column: span 1;
}

.menu_phone{
    width: auto;
    z-index: 100;
    height: 100vh;
    position: absolute;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 48px 48px 48px;
    transform: translateX(-100%);
    transition: transform 1s;
    margin: 0 0 0 0;
}

.botside {
    background-color: gray;
    margin: 0;
    height: 136px;
    padding: 20px 0 0 0;
}

.button-console {
    margin: 0 20px 20px 20px;
    height: 48px;
    background-color: red;
    border-radius: 24px;
}

.button-console h1{
    padding: 10px;
    margin: 0 0 0 0;
    font-size: auto;
}
.button-console a {
    color: white;
}
.button-games {
    margin: 0 20px 20px 20px;
    height: 48px;
    background-color: red;
    border-radius: 24px;
}
.button-games h1{
    padding: 10px;
    margin: 0;
    font-size: auto;
}
.button-games a {
    color: white;
}
.topside {
    grid-row: span 1;
    grid-column: span 16;
    grid-template-columns: 48px auto;
    grid-template-rows: repeat(1, 1fr);
    height: 48px;
    background-color: rgba(0,0,0,0);
    display: flex;
}
.logo-menu h1{
    grid-row: span 1;
    font-family: 'Skranji', cursive;
    margin: auto;
    color: white;
    font-size: auto;
}
.logo-menu a {
    color: white;
}

.show{
    transform: translateX(0);
    // display: block;
    // width: auto;
    // transition: width 2s;
    // -moz-transition: width 2s;
}
// .fade{
    
// }

@media screen and (min-device-width: 400px){
    .menu {
        display: none;
    }
}