header i.material-icons{
    font-size: 3em;
    color: black;
}

.menu {
    display: grid;
    grid-column: span 1;
    grid-row: span 1;
}

.menu_phone i.material-icons{    
    font-size: 3em;
    color: black;
    background: red;
    margin: 0 0 0 0;
    grid-column: span 1;
}

.menu_phone{
    width: auto;
    height: 100vh;
    position: absolute;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 48px 48px 48px;
    display: none;
    margin: 0 0 0 0;
}

.botside {
    background-color: gray;
    margin: 0;
    height: 116px;
    padding: 20px 0 0 0;
}

.button-console {
    margin: 0 0 20px 0;
    height: 48px;
    background-color: red;
}

.button-console h1{
    margin: 0 0 0 0;
}
.button-console a {
    color: white;
}
.button-games {
    height: 48px;
    background-color: red;
}
.button-games h1{
    margin: 0;
}
.button-games a {
    color: white;
}
.topside {
    grid-row: span 1;
    grid-column: span 16;
    grid-template-columns: 48px auto;
    grid-template-rows: repeat(1, 1fr);
    height: 48px;
    background-color: rgba(0,0,0,0);
    display: flex;
}
.logo-menu h1{
    grid-row: span 1;
    font-family: 'Skranji', cursive;
    margin: auto;
    color: white;
    font-size: auto;
}
.logo-menu a {
    color: white;
}

.show{
    display: block;
}
// .fade{
    
// }

@media screen and (min-device-width: 400px){
    .menu {
        display: none;
    }
}